<div class="container" id='home-container'>
    <div class="jumbotron text-center text-white">
      <h1 class="display-4" id='home'>AlphaBlog!</h1>
      <p class="lead mb-5">Join this online community to share your thoughts and ideas!</p>
      <%= link_to "SignUp!", signup_path, class: "btn btn-warning btn-lg" %>
    </div>
</div>
